
@{
    ViewBag.Title = "Điện Máy Xanh";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@section Styles{
    <style type="text/css">
        body {
            line-height: normal;
            font-size: 13px;
            font-weight: 400;
        }


        .card-header-Title {
            padding: 20px;
        }

            .card-header-Title .card-title {
                color: black;
                text-align: center
            }

        .card-header {
            background: #3fb8ff;
        }

        .card-title {
            color: aliceblue;
            float: none;
            font-size: 1.5rem;
            text-align: center
        }

        .brand-image {
            width: 250px;
        }
    </style>
}
<!-- Content Wrapper. Contains page content -->

<div class="wrapper">
    <!-- Navbar -->
    <nav class="main-header navbar navbar-expand navbar-white navbar-light">
        <!-- Left navbar links -->
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
            </li>
        </ul>
    </nav>
    <!-- /.navbar -->
    <!-- Main Sidebar Container -->
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
        <!-- Brand Logo -->
        <a href="../../index3.html">
            <img src="../../dist/img/dien-may-xanh.png"
                 alt="AdminLTE Logo"
                 class="brand-image">
        </a>

        <!-- Sidebar -->
        <div class="sidebar">
            <!-- Sidebar user (optional) -->
            <div class="user-panel mt-3 pb-3 mb-3 d-flex">

                <div class="info">
                    <a href="#" class="d-block">ADMIN DMX</a>
                </div>
            </div>

            <!-- Sidebar Menu -->
            <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                    <!-- Add icons to the links using the .nav-icon class
                    with font-awesome or any other icon font library -->
                    <li class="nav-item">
                        <a href="/dmx/region" class="nav-link">
                            <i class="nav-icon fas fa-chart-pie"></i>
                            <p>
                                Theo vùng miền
                                <span class="right badge badge-danger">New</span>
                            </p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/dmx" class="nav-link">
                            <i class="nav-icon fas fa-th"></i>
                            <p>
                                Chi tiết từng cửa hàng
                            </p>
                        </a>
                    </li>
                </ul>
            </nav>
            <!-- /.sidebar-menu -->
        </div>
        <!-- /.sidebar -->
    </aside>

    <div class="card-header-Title">
        <h2 class="card-title" style="margin: 0 auto;">
           SAMSUNG PLUS THÁNG @DateTime.Now.Month - Report ngày <span id="dayupdate"></span>
           
        </h2>

        
    </div>
    <!-- /.card-header -->
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">

        <div class="wrapper">
            <!-- Main content -->
            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header" style="">
                                    <h2 class="card-title">Thứ tự cửa hàng theo điểm GOLD</h2>
                                    <br />
                                    <i style="margin: 0 auto;">
                                        1. Điểm GOLD cao nhất
                                    </i>
                                    <br />
                                    <i style="margin: 0 auto;">
                                        2. (Bằng điểm GOLD) Ưu tiên thời gian làm bài nhanh hơn
                                    </i>
                                    <br />
                                   
                                </div>
                                <!-- /.card-header -->
                                <div class="card-body">
                                    <table id="storedetailId" class="table table-bordered table-hover">
                                    </table>
                                </div>
                                <!-- /.card-body -->
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">Tra điểm từng nhân viên của cửa hàng</h3>
                                </div>
                                <!-- /.card-header -->
                                <div class="card-body">
                                    <table id="nvdetailId" class="table table-bordered table-hover">
                                    </table>
                                </div>
                                <!-- /.card-body -->
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            var loading = new Loading();

            $.ajax({
                type: "GET",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                url: "/api/Search/SearchDMX",
                success: function (response) {
                    $('#dayupdate').text = response.Dayupdate;
                    //Table nv
                    $("#nvdetailId").DataTable({

                        "lengthMenu": [25, 50, 75, 100],
                        "paging": true,
                        "searching": true,
                        "ordering": true,
                        "responsive": true,
                        "data": response.Data,
                        "columns": [
                            {
                                "data": "SPlusCode",
                                "title": "Mã đăng nhập"
                            }, {
                                "data": "Store",
                                "title": "Cửa hàng"
                            }, {
                                "data": "Region",
                                "title": "Khu vực"
                            }, {
                                "data": "IsLearned",
                                "title": "Đã học"
                            }, {
                                "data": "SecondTest",
                                "title": "Thời gian làm bài"
                            },
                            {
                                "data": "Score",
                                "title": "Điểm học S+"
                            }, {
                                "data": "SecondLearn",
                                "title": "Tổng thời gian học bài"
                            },
                            {
                                "data": "IsComplete",
                                "title": "Đạt"
                            }
                        ],
                        "language": {
                            "url": "//cdn.datatables.net/plug-ins/1.10.24/i18n/Vietnamese.json"
                        }, dom: 'Bfrtip'
                        , "buttons": [
                            'excel'
                        ]
                    });


                    //Table Store
                    $('#storedetailId').DataTable({
                        "lengthMenu": [10, 25, 50, 100],
                        "paging": true,
                        "searching": true,
                        "ordering": true,
                        "order": [[1, "asc"]],
                        "responsive": true,
                        "data": response.ListStoreOrder,
                        "columns": [
                            {
                                "data": "StoreName",
                                "title": "Tên Store"
                            },
                            {
                                "data": "Order",
                                "title": "Vị thứ"
                            }, {
                                "data": "TotalEmployee",
                                "title": "Tổng NV (a)"
                            }, {
                                "data": "TotalTested",
                                "title": "Số NV đã test(b)"
                            }, {
                                "data": "TotalScore",
                                "title": "Tổng điểm (c)"
                            }, {
                                "data": "AverageScore",
                                "title": "Điểm TB (A=c/a)"
                            }, {
                                "data": "RateTested",
                                "title": "% test bài (B=b/a*100)"
                            }, {
                                "data": "AverageSecond",
                                "title": "Thời gian học TB"
                            }, {
                                "data": "Gold",
                                "title": "Điểm Gold (A+B)"
                            }, {
                                "data": "RateLearned",
                                "title": "% học bài (B=b/a*100)"
                            },  {
                                "data": "TotalComplete",
                                "title": "Tổng Đạt"
                            },
                        ],
                        "language": {
                            "url": "//cdn.datatables.net/plug-ins/1.10.24/i18n/Vietnamese.json"
                        }, dom: 'Bfrtip'
                        , "buttons": [
                            'excel'
                        ]
                    });
                },
            }).done(function () {
                loading.out()
            });;





        });


    </script>
}
